* {
    margin: 0;
    padding: 0;
    color: white;
}

a, a:hover, a:visited, a:link {
    text-decoration: none !important;
    color: white;
}

body {
    background: #314755;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26a0da, #314755);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26a0da, #314755); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.profile-photo {
    background-size: 100% 100%;
    margin: 10px 0 15px 0;
}

.left-side {
    background-color: crimson;
    color: white;
    font-size: 125%;
}

.left-side a {
    color: white;
}

.right-side h2 {
    color: #66e4da;
}

.right-side h3 {
    color: #E9633B;
}

.skill-icon {
    width: 32px;
    margin-bottom: 10px;
}

.hobby-icon {
    width: 64px;
    margin-right: 25px;
}

.experience-list {
    margin-left: 15px;
}

.experience-list li {
    font-size: 150%;
    margin: 10px 0 10px 0;
}

footer {
    margin-top: 10px;
    line-height: 50px;
    height: 50px;
    text-align: center;
    color: white;
    background: #403b4a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #403b4a, #e7e9bb); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #403b4a, #e7e9bb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
